@import url('../default-styles.css');

body {
  overflow-x: hidden;
  width: 90%;
  margin: 40px auto;
  font-family: 'Lato', 'sans-serif';
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6d0ae;
}

.title {
  color: black;
  margin: 20px auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card {
  height: 10rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2464a3;
  color: #e6d0ae;
  border-radius: 8px;
  margin: 20px auto;
  transition: transform 0.5s ease;
}

.card.even {
  transform: translateX(100vw);
}

.card.odd {
  transform: translateX(-100vw);
}

